<div class="panel panel-info">
  <div class="panel-heading">A blank canvas for great things!</div>
  <div class="panel-body">
This may look empty, but you only to install the agent to see awesome graphs here!
    <!-- TODO: poner instrucciones aquí -->
  </div>
  <div class="panel-footer">© 2015 <%= Rails.configuration.x.clarity.site_name %>, Inc.</div>
</div>
