<div class="panel panel-error">
  <div class="panel-heading">Please go to your dashboard</div>
  <div class="panel-body">
    This page is for internal use only
  </div>
  <div class="panel-footer">© 2015 <%= Rails.configuration.x.site_name %>, Inc.</div>
</div>
